main section fieldset.accueil 
{
    height: 100px;
    width: 800px;
    border-collapse: collapse;
}

main section fieldset.accueil h4
{
    color:gray;
}

body
{
    background-color: #ffe97a;
}

main section img
{
    margin-top: 20px;
    height: auto;
    width: 900px;
    color: gray;
}

main section div.redirect a 
{
	display: flex;
    justify-content: space-between;
    width: 60%;
}

main section div.redirect a 
{
	text-decoration: none;
    text-align: center;
    font-size: 18px;
	font-weight: 700;
	color: black;
	padding: 2%;
	transition: 1s;
	border: transparent solid;
    border-radius: 20px;
    width: 25%;
    height: 100%;
}

main section div.redirect a:hover
{
	border: black solid;
	transition: 0.5s;
    border-radius: 20px;
}

main section div.redirect a#focus-page
{
	border: black solid;
	transition: 0.5s;
    border-radius: 20px;
}