/* CSS Importation des polices */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

/* CSS Configuration de base page HTML  */

body
{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-color: #e5e7e6;
}

html, body	
{
	scroll-behavior: smooth; 
}

*, ::before, ::after
{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

/* CSS Header BOX  */

header nav
{
    background-color: #93441A;
	/* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
}

div.header-top
{
	height: 80px;
	background-color:rgba(255,225,225,0.4);
	margin-top: 10px;
	color: rgb(220, 0, 0);
}

/* CSS Header menu de navigation */

header nav div.box-header
{
	width: 80%;
    height: 100%;
    margin: auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* CSS Header Navigation bouton */

header nav div.box-header div.nav
{
	display: flex;
    justify-content: space-between;
    width: 60%;
}

header nav div.box-header div.nav a
{
	text-decoration: none;
    text-align: center;
    font-size: 18px;
	font-weight: 700;
	color: #e5e7e6;
	padding: 2%;
	transition: 1s;
	border: transparent solid;
    border-radius: 20px;
    width: 25%;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

header nav div.box-header div.nav a:hover
{
	border: #e5e7e6 solid;
	transition: 0.5s;
    border-radius: 20px;
}

header nav div.box-header div.nav a#focus-page
{
	border: #e5e7e6 solid;
	transition: 0.5s;
    border-radius: 20px;
}

/* CSS Header Info centre */

div.box-info
{
    position: relative;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -60%);

    width: 75%;
    height: 60vh;


}

div.box-info h1
{
    color : white;
    font-size: 120px;
}

/* Barre de recherche */

header div.boxvideo div.box-header div.nav div.searchbar form.recherche input.bouton {
    height: 10px;
    width: 10px;
}

@keyframes scroll 
{
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(40px); opacity: 0;}
}

@media only screen and (min-width: 800px) and (max-width: 966px)
{
    div.nav
    {
        display: block;
        background-color: red;
    }
}

@media only screen (min-width: 321px) and (max-width: 799px)
{
    div.nav
    {
        display: block;
        
    }
    
}

@media only screen and (max-width: 320px)
{
    div.nav
    {
        display: block;
        background-color: blue;
    }
}
