body {
    background-color: #ffe97a;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

main section div.login form.login div.button button {
    width: 150px;
    height: 50px;
    border: 1px solid rgb(139, 139, 139);
    padding: 5px;
}

main section div.login form.login div.button button:hover {
    background-color: rgb(177, 177, 177);
}

main section div.login form.login div.button button:focus {
    border: 3px dotted rgb(175, 175, 175);
}

main section div.login form.login div.button button:active {
    background-color: rgb(185, 185, 185);
}