body
{
    background-color: #ffe97a;
}

/*CSS de la card du skate 1*/
.skate1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #93441A;
  }

main section div.skate1 img
{
    width: 300px;
    height: 300px;
}

main section div.skate1 p {
    color: white;
}
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  /*Fin du CSS pour le skate 1*/